{% extends "base.html" %}
{% block title %}Update your password{% endblock %}
{% block content %}
<br>
<br>
<br>

<form method="post" align='center' style="margin:100;">
    <label for="login" style="font-size: larger;font-weight: bolder;color: blue;">Reset Password</label>
    <br><br>
    <label for="username">Enter Password</label>
    <br>
    <input type="text" id="Password" name="Password" placeholder="Password">
    <br>
    <br>
    <label for="username">Enter Confirm Password</label>
    <br>
    <input type="text" id="confirmPassword" name="confirmPassword" placeholder="confirmPassword">
    <br>
    <br>
    <button class="btn btn-primary" type="submit" onclick="">Reset</button>

</form>
{% endblock %}